#header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}
.nav {
	line-height:30px;
	background-color:#eeeeee;
	height:300px;
	width:100px;
	float:left;
	padding:5px;
}
#section {
	width:350px;
	float:left;
	padding:10px;
}
#footer {
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;
}
h1 {
	font-family: "Times New Roman", Georgia, Serif;	
	font-weight: 800
	font-size: xx-large;
	margin: 0;
	padding: 10;
	color: red;
}
.textos {
	word-spacing: -0.2em
	letter-spacing: -0.1em;
	text-decoration: underline;
	line-height: 200%;
	color: #ff8080;
}
div {
	background: #7fffd4;
	margin: 5em;
	padding: 2em 4em 5em;
	float: left;
}
